<header>
  <div class="header-logo">
    MiniTweet
  </div>
  <ul class="header-menus">
    <li>MiniTweetについて</li>
  </ul>
</header>
<div class="about-main">
  <h2>MiniTweetとは</h2>
  <p>
    SNSアプリケーションです。
    身近に起きた出来事やその時の気持ちを投稿し、他のユーザーと楽しくシェアできます。
  </p>
</div>